* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 2px solid #000;
    position: absolute;
    background-color: #e7e4e4;
    padding: 30px;
    width: 100%;
    z-index: 100;

  }
nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav a {
  margin: 0 15px;
  color: #000;
  font-weight: 500;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}
nav a:hover{
text-decoration: underline 2px solid grey;  
}
.logo img {
  width: 100%;
  height: 30px;
  object-fit: contain;
  display: block;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
  cursor: pointer;
}
  .grids{
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }  

  aside {
    grid-area: sidebar;
    position: absolute;
    height: 100%;
    background-color: #e7e4e4;
    padding: 24px;
    color: black;
    border-right:2px solid #000;
    margin: 0;
  }

  .aside, h1{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    width: 100%;
  }
  .cdo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    
  }
  .cdo:hover{
    background-color: rgba(128, 128, 128, 0.419);
  }
  .pureF{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .pureF:hover{
    background-color: rgba(128, 128, 128, 0.419);
  }
  .pureF1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .pureF ul{
    list-style: none;
    padding-left: 0;
  }
  .pureF a{
    text-decoration: none;
    color: inherit;
  }
  .pureF ul a:hover{
    background-color: rgba(128, 128, 128, 0.47);
    display: block;
    padding: 8px 16px;
  }
  .MomL{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .MomL:hover{
    background-color: rgba(128, 128, 128, 0.419);
  }
  .MomL1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .MomL ul {
    list-style: none;
    padding-left: 0;
  }
  .MomL a{
    text-decoration: none;
    color: inherit;
  }
  .MomL  ul a:hover{
    background-color: rgba(128, 128, 128, 0.47);
    display: block;
    padding: 8px 16px;
  }
  .Frab{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .Frab:hover{
    background-color: rgba(128, 128, 128, 0.419);
  }
  .Frab1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    column-count: 2;
  }
  .Frab ul{
    list-style: none;
    padding-left: 0;
  }
  .Frab a {
    text-decoration: none;
    color: inherit;
  }
  .Frab1  ul a:hover{
    background-color: rgba(128, 128, 128, 0.47);
    display: block;
    padding: 8px 16px;
  }
.icondown {
  width: 12px;           
  height: 10px;
  margin-left: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown1 {
  width: 12px;           
  height: 10px;
  margin-left: 47px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown2 {
  width: 12px;           
  height: 10px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown3{
  width: 12px;           
  height: 10px;
  margin-left: 50px;
  vertical-align: middle;
  cursor: pointer;
}
.cContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.cContent ul {
  list-style: none;
  padding-left: 0;
}
.cContent a {
  text-decoration: none;
  color: inherit;  
}
.cContent ul a:hover{
  background-color: rgba(128, 128, 128, 0.47);
  display: block;
  padding: 8px 16px;
}

main {
  grid-area: main;
  background-color: #fff;
  padding: 20px;
}
  .wrap-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.wrap-box1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  height: 250px;
  margin-bottom: 2.5rem;
}
.wrap-box1 div {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 1rem;
  flex: 1 0 150px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;          
}
.wrap-box1 img{
  display: inline-flex;
  border-radius: 24px;
  object-fit: contain;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.wrap-box div {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 1rem;
  width: 280px;
  flex-wrap: wrap;
  border-radius: 16px;
  text-align: center;  
}
.wrap-box div img{
  padding: 15px;
  width: 15.3rem;
  height: 250px; 
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
  box-sizing: border-box;
}
div.desc {
  padding: 15px;
  width: 15.3rem;
  text-align: center;
  border-radius: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.wrap-box div:hover {
  background-color: #f0f0f0;
  transform: scale(1.07);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.searchCl {
  border: 1px solid #000;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 35px;     
  right: 50%;
  left: 25%;
  width: 50%;
  top: 15px;
  background-color: #dad6d670;
}

.dropdown-content {
  display: none;
    position: absolute;
    right: 50%;
    left: 25%;
    width: 50%;
    top: 69.1px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 100;
    overflow-y: auto;
}

  .dropdown-content ul {
    list-style: none;
  }
  .dropdown-content a{
    text-decoration: none;
    color: #000;
    
  }
  .dropdown-content li {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-content li:hover {
    background-color: rgba(128, 128, 128, 0.39);
  }      
.wrap-box p{
  color: black;
  text-decoration: none;
}
.wrap-box h6{
  color: red;
  text-decoration: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;   
}
.LinkB{
  list-style: none;
  text-decoration: none;  
}
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
   
}